<main>
    <header>
        <h1>Supplier list</h1>
    </header>
    <div class="container-box">
        <span class="add-item" (click)="showAddItemForm = true">Add supplier</span>
        <div class="modal-background" *ngIf="showAddItemForm">
            <form class="modal" (submit)="addItem()" [formGroup]="addItemForm">
                <label for="name">Name</label>
                <input id="name" type="text" placeholder="Name" formControlName="name"/>
                <label for="contact">Contact</label>
                <input if="contact" type="text" placeholder="Contact" formControlName="contact"/>
                <div class="control">
                    <button (click)="showAddItemForm = false">Cancel</button>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <table>
            <tr class="table-head">
                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
                <th></th>
            </tr>
            <tr *ngFor="let supplier of suppliers">
                <td>{{supplier.id}}</td>
                <td>{{supplier.name}}</td>
                <td>{{supplier.contact}}</td>
                <td>
                    <button class="adjust" (click)="openAdjustItemModal(supplier)">Adjust</button>
                    <div class="modal-background" *ngIf="showAdjustItemForm === supplier.id">
                        <form class="modal" (submit)="adjustItem()" [formGroup]="adjustItemForm">
                            <label for="name">Name</label>
                            <input id="name" type="text" placeholder="Name" formControlName="name"/>
                            <label for="contact">Contact</label>
                            <input if="contact" type="text" placeholder="Contact" formControlName="contact"/>
                            <div class="control">
                                <button (click)="showAdjustItemForm = null">Cancel</button>
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <button class="delete" (click)="deleteItem(supplier.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</main>