main{
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0EA5E9;
}
main *{
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

header{
    background: linear-gradient(20deg, #F3F4F5, #1e3b8a70);
    display: flex;
    flex-direction: column;
    color: black;
}
header h1{
    padding-left: 10px;
}

.stat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 15px;
}
.listing {
    width: 25%;
    min-width: 200px;
    padding: 20px;
    color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.listing-heading {
    color: #111827;
    font-size: 1.25rem;
    font-weight: 600;
}
.content-box{
    background-color: #F3F4F5;
}