.container {
      display: flex;
      flex-direction: column;
      width: 250px;
}
label{
    height: 2em;
    font-size: 1.2em;
    padding-left: 5px;
    align-content: end;
    color: #6f9dff;
}
.input-wrapper {
      position: relative;
      display: block;
}
input,
select {
    width: 100%;
    height: 1.5em;      /* same height as your input (adjust if needed) */
    padding-left: 0.5em;      /* match input padding */
    padding-top: 0.1em;
    font-size: 1em;      /* match font size */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.reveal-icon {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 20px;
      height: 1.5em;
      cursor: pointer;
}
.error {
    color: #ff4d4d;
    font-size: 0.85em;
    margin-top: 4px;
    padding-left: 4px;
}
