main{
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0EA5E9;
}
main *{
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    color: white;
}
header h1{
    padding-left: 10px;
}
main div{
    background-color: #F3F4F5;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.listing {
    background: #F3F4F5;
    border-radius: 30px;
    padding-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 15px auto !important;
}
.listing-heading {
    color: #111827;
    padding: 10px 20px 0 20px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}
.listing-photo {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    display: block;
}